	
body {
	background: #e8e8e8;
}
#tablero {
	width: 400px;
	height: 400px;
    margin: auto;
    text-align: center;
    position: relative;
}

.casilla {
	width: 50px;
	height: 50px;
	background: rgb(111, 38, 3);
	background-image: url('./img/madera_negra.jpg');
	background-size: contain;
	display: inline-block;
	float: left;
	text-align: center;
	margin: auto;
}
.casilla.white {
	background: rgb(181, 155, 144);
	background-image: url('./img/madera_blanca.jpg');
	background-size: contain;
}
.ocultar {
	display: none;
}
.pieza {
	width: 50px;
	height: 50px;
	font-size: 2.2em;
	line-height: unset;
	top: -4px;
	left: 2px;
	text-align: center;
	padding-top: 3px;
}
.pieza.white, .white {
	color: white;
}

.pieza.black {
	color: black;
}
.casilla_habilitada {
	background: black;
    border-radius: 100%;
    opacity: 0.5;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: auto;
    margin-top: 7px;
}

#blancas_comidas, #negras_comidas {
	height: 100px;
	width: 400px;
	margin: auto;
}
.turno {
	width: 400px;
	margin: auto;
}
#reloj {
	float: left;
	font-size: 3em;
	height: 400px;
    margin-top: 215px;
}

.reloj_blanca, .reloj_negra {
	text-align: center;
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 5px;
}
.reloj_blanca {
	background: #FFF;

}

.reloj_negra {
	background: #000;
	color: #FFF;
}

@media (min-width: 992px) {
	#reloj {
	    margin-left: 135px;
	}
}
@media (min-width: 1200px) {
	#reloj {
    	margin-left: 230px;
    }
}

.contenendor_color {
	padding: 10px 15px;
}

.seleccion_color {
    width: 65px;
    height: 50px;
    background: #c5c5c5;
    padding: 5px;
    float: left;
    font-size: 1.8em;
}
.color_derecha {
    margin-right: auto;
}

.solicitudes {
	padding: 10px;
	min-height: 300px;
	min-width: 250px;
}

.solicitudes_partidas {
	background: #dee2e6;
}

.modal-dialog {
    min-width: 80%;
}
.limpiar {
	clear: both;
}